body {
  font-family: 'PT Mono', 'monospace';
  padding: 30px;
  background-color: rgba(247,247,247, 0.6);
}	

p {
  text-align: justify;
}

.header-title {
  font-family: 'Zen Loop', cursive;
  font-size: 42px;
  text-align: center;
}

.t-principal {
  font-size: 20px;
  font-weight: 600;
}

.t-grande {
  font-size: 17px;
}

.t-medio {
  font-size: 15px;
}

.t-pequeno {
  font-size: 13px;
}